---
import { Image } from 'astro:assets';
import vision from '@assets/images/vision.jpg';
---

<section
    class="grid grid-cols-2 grid-rows-auto mx-auto px-20 w-full max-w-6xl mt-30 gap-20"
>
    <Image
        src={vision}
        alt="Vision"
        class="col-start-2 row-start-1 row-end-1 rounded-2xl"
        width={1000}
        height={1000}
    />
    <div class="col-span-1 row-span-1 flex flex-col gap-4">
        <h2 class="text-md font-lato text-neutral-800 mb-4 uppercase">
            Our Vision
        </h2>
        <h1 class="text-4xl font-cabin font-bold">
            Turn your ideas into reality.
        </h1>
        <p class="font-lato text-md leading-6">
            Capitalize on low hanging fruit to identify a ballpark value added
            activity beta test. Override the digital divide with additional from
            DevOps.
        </p>
        <ul class="flex flex-col gap-4">
            <li class="flex items-center gap-2">
                <svg
                    width="33"
                    height="33"
                    viewBox="0 0 23 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M15.855 8.83838L9.83628 14.5803L6.83203 11.7093"
                        stroke="#4EAF4E"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M11.3433 21.1426C16.7795 21.1426 21.1865 16.7356 21.1865 11.2993C21.1865 5.86303 16.7795 1.45605 11.3433 1.45605C5.90698 1.45605 1.5 5.86303 1.5 11.2993C1.5 16.7356 5.90698 21.1426 11.3433 21.1426Z"
                        stroke="#4EAF4E"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
                Bring to the table win-win survival strategies to ensure
                proactive domination. At the end of the day.
            </li>
            <li class="flex items-center gap-2">
                <svg
                    width="33"
                    height="33"
                    viewBox="0 0 23 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M15.855 8.83838L9.83628 14.5803L6.83203 11.7093"
                        stroke="#4EAF4E"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M11.3433 21.1426C16.7795 21.1426 21.1865 16.7356 21.1865 11.2993C21.1865 5.86303 16.7795 1.45605 11.3433 1.45605C5.90698 1.45605 1.5 5.86303 1.5 11.2993C1.5 16.7356 5.90698 21.1426 11.3433 21.1426Z"
                        stroke="#4EAF4E"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
                Capitalize on low hanging fruit to identify a ballpark value
                added activity to beta test override the digital.
            </li>
        </ul>
    </div>
    <section class="col-span-2 row-start-2 row-end-2 flex flex-row gap-30 place-self-center">
<div class="flex flex-col gap-4 items-center">
<h1 class="text-5xl font-cabin font-bold">1128+</h1>
<h2 class='text-lg font-cabin'>Successful Work</h2>
</div>
<div class="flex flex-col gap-4 items-center">
<h1 class="text-5xl font-cabin font-bold">908+</h1>
<h2 class='text-lg font-cabin'>Team member</h2>
</div>
<div class="flex flex-col gap-4 items-center">
<h1 class="text-5xl font-cabin font-bold">258+</h1>
<h2 class='text-lg font-cabin'>Happy Customers</h2>
</div>
<div class="flex flex-col gap-4 items-center">
<h1 class="text-5xl font-cabin font-bold">564+</h1>
<h2 class='text-lg font-cabin'>Creative Idea</h2>
</div>
    </section>
</section>
